# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/2021-08-10-21-22-24.017-VBoxSVC-8968.log
/2021-08-10-21-22-24.029-VBoxHeadless-9530.log
/2021-08-11-21-34-50.079-VBoxSVC-11671.log
/2021-08-11-21-34-51.002-VBoxHeadless-12253.log